html, body {
  background-color:#2b2a33 !important;
}

::-webkit-scrollbar {
    display: none;
}

.navbar{
  padding:50px;
}

#footer {
  background-color:#2b2a33;
}

#nav {
  background-color:#2b2a33;
}

a:hover,a:active,a:link,a:visited{
  text-decoration:none;
  color:white;
  margin:5px;
}

#card, .card-header-title, .media-content p {
  color:white !important;
}

#card {
  animation: float 2s ease-in-out infinite;
  background:#42414d;
}

.column{
  margin-top:50px;
  margin-right:40px;
  margin-left:40px;
}

#navbar-img{
  width:70px;
  border-radius:20px;
  animation: imgShadow 2s ease-in-out infinite;
}

@keyframes imgShadow {
	0% {
		filter:drop-shadow(0 0 -1rem rgba(0, 0, 0, 0.438));
	}
	50% {
		filter:drop-shadow(0 0 1rem rgba(0, 0, 0, 0.438));
	}
	100% {
		filter:drop-shadow(0 0 -1rem rgba(0, 0, 0, 0.438));
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-8px);
	}
	100% {
		transform: translatey(0px);
	}
}