html,
body,
.navbar,
.footer {
	background-color: #2b2a33 !important;
}

::-webkit-scrollbar {
	display: none;
}

.pp-image img {
	display: inline-block;
	margin-right: auto;
	padding: 15px;
	width: 150px;
	margin-left: auto;
	border-radius: 30px !important;
}

.pp-image {
	animation: backgroundAnimation 2s ease-in-out infinite;
	text-align: center;
}


a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;
	color: white;
	margin: 5px;
}

#card,
.card-header-title,
.media-content p {
	color: white !important;
}

#card {
	animation: float 2s ease-in-out infinite;
	background: #42414d;
}

.column {
	margin-top: 50px;
	margin-right: 40px;
	margin-left: 40px;
}

.image.is-48x48 img {
	border-radius: 10px;
}

@keyframes backgroundAnimation {
	0% {
	  filter: drop-shadow(0 0 0rem #5d5c6c)
	}
  
	50% {
	  filter: drop-shadow(0 0 0.75rem #5d5c6c)
	}
  
	100% {
	  filter: drop-shadow(0 0 0rem #5d5c6c)
	}
  }
  

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-10px);
	}

	100% {
		transform: translatey(0px);
	}
}