@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	background-color: #16161a !important;
	font-family: 'Roboto', sans-serif !important;
}

::-webkit-scrollbar {
	display: none;
}

.pp-image img {
	margin:7rem auto 25px 0;
	display: inline-block;
	border:solid 8px #202023;
	width: 170px;
	border-radius: 180px !important;
}

.pp-image img:hover {
	animation: pfp-fade 0.5s ease-in forwards;
}

.pp-image {
	position:flex;
	text-align: center;
}

#infos h1 {
	color:rgba(245, 245, 245, 0.656);
}

#infos h3{
	margin-top:7px;
	color:rgba(245, 245, 245, 0.76);
}

a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;
	color: whitesmoke;
	margin: 5px;
	font-size: 20px;
	
}

@keyframes pfp-fade {
    0%   { -webkit-filter: grayscale(0%); }
    100% { -webkit-filter: grayscale(100%); }
}
